h1,#copyright{
	background-color: #80DEEA;
	padding: 10px;
    border-radius: 5px;
}

#copyright {
	position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.content{
	float: left;
	padding-left: 10px;
}

.left-sidebar{
	float: left;
}

ul {
    padding-left: 0px;
    width: 200px;
    list-style-type: none;
}

ul li {
	border: 1px solid #2d4c4b;
	padding: 5px 5px
}

ul li a {
	text-decoration: none;
}

ul.header-menus li {
	float: left;
}